 *, *:before, *:after {
            box-sizing: border-box;
        }

        html {
            font-size: 16px;
        }

        .outer {
            /*margin: 20px auto;*/
            max-width: 300px;
        }

        ol {
            list-style: none;
            padding: 0;
            margin: 0;
        }


        .seats {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
        }

        .seat {
            display: flex;
            padding: 4px;
            margin-left: 7px;
            margin-right: 7px;
            position: relative;
        }


        .seat input[type=checkbox] {
            position: absolute;
            opacity: 0;
            -webkit-box-shadow: inset 0px 0px 0px 1px rgb(0, 123, 255);
            -moz-box-shadow: inset 0px 0px 0px 1px rgb(0, 123, 255);
            box-shadow: inset 0px 0px 0px 1px rgb(0, 123, 255);
        }

        .seat input[type=checkbox]:checked + label {
            background: rgb(0, 123, 255);
            color: white;
            -webkit-box-shadow: inset 0px 0px 0px 1px white;
            -moz-box-shadow: inset 0px 0px 0px 1px white;
            box-shadow: inset 0px 0px 0px 1px white;
            border-radius: 5px;
            border: 2px solid rgb(0, 123, 255);
        }

        .seat input[type=checkbox]:disabled + label {
            background: firebrick;
            color: white;
            border-radius: 5px;
            border: 2px solid firebrick;
        }

        .seat input[type=checkbox]:disabled + label:after {
            text-indent: 0;
            position: absolute;
            top: 4px;
            left: 50%;
        }

        .seat input[type=checkbox]:disabled + label:hover {
            box-shadow: none;
            cursor: not-allowed;
        }

        input[type=submit] {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .seat label {
            display: block;
            position: relative;
            width: 40px;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.5rem;
            padding: 4px 0;
            background: white;
            color: rgb(0, 123, 255);
            border-radius: 5px;
            border: 2px solid rgb(0, 123, 255);
            animation-duration: 300ms;
            animation-fill-mode: both;
        }

        .seat label:hover {
            cursor: pointer;
            box-shadow: 0 0 0 2px rgb(0, 123, 255);
        }

        .icon{
            margin-top:20px;
        }